.features {
  padding: 2rem 0;
  width: 100%;
  text-align: left; /* Ensures all content is left-aligned */
}

.sectionTitleContainer {
  text-align: left; /* Aligns the section title to the left */
  margin-bottom: 2rem;
}

.feature {
  text-align: left; /* Aligns each feature to the left */
  margin-bottom: 2rem; /* Adds space between features */
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin-bottom: 1rem; /* Adds space between image and text */
}

.featureContent {
  padding-left: 0rem; /* Adds padding to content for better spacing */
}

.featureContent h3 {
  margin-bottom: 0.5rem; /* Adds space below the title */
  font-size: 1.5rem;
}
[data-theme='dark'] .featureContent h3 {
  margin-bottom: 0.5rem; /* Adds space below the title */
  font-size: 1.5rem;
}

